.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;

  & > * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &-copy {
    font-size: 0.875rem;
    font-weight: 300;
    margin-bottom: 0.625rem;
  }

  &-author {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.6;
  }

  a {
    font-weight: 800;
    display: block;
    margin: 0 0.25rem;
    background-color: var(--element-color);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    box-shadow: var(--main-shadow);
  }
}
